body {
  background-color: #e2e2df;
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.icons {
  width: 150px;
  transition: transform 0.3s ease;
}
.icons:hover {
  transform: scale(1.15);
}

span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

h1 {
  color: black;
}
